@model BD_PR_01_Clinicas.Models.tbCategoria

@{
    ViewBag.Title = "Crear";
}

<h2>Nueva</h2>

@using (Html.BeginForm(Html.BeginForm("Crear", "Categoria", FormMethod.Post, new { @id = "formId", @class = "form-horizontal", role = "form" })))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Categoría</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Categoría", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" id="entrada">
                @Html.EditorFor(model => model.categoria, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoria, "", new { @class = "text-danger", id ="error" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Crear" class="btn btn-success" />*@
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Crear
                </button>
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
    </a>
</div>
@section Scripts{
@Scripts.Render("~/bundles/jqueryval") 
<script>
        $.validator.addMethod("soloLetras", function (value, element) {
            return /^[a-zA-ZñÑáéíóúÁÉÍÓÚ ]+$/i.test(value);
        }, "Ingrese sólo Letras");

        $("#formId").validate({
            errorClass: 'help-block animation-slideDown',
            errorElement: 'div',
            errorPlacement: function (error, e) {
                e.parents('.form-group > div').append(error);
            },
            highlight: function (e) {

                $(e).closest('#entrada').removeClass('has-success has-error').addClass('has-error');
                $(e).closest('.help-block').remove();
            },
            success: function (e) {
                e.closest('#entrada').removeClass('has-success has-error');
                e.closest('.help-block').remove();
            },
            rules: {
                categoria: { required: true, soloLetras: true}
            },
            messages: {
                categoria: {
                    required: "Debe introducir un nombre para la categoria"
                }           
            }

        });
</script>
}