@model IEnumerable<BD_PR_01_Clinicas.Models.tbCategoria>

@{
    ViewBag.Title = "Categorias";
}

<h2>Categorias</h2>

<p>
    @Html.ActionLink("Nueva Categoría", "Crear")
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">Buscar por nombre de Categoría</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Categoría", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-inline">
                        @Html.TextBox("categoria", "", new { @class = "form-control" })
                        <input type="submit" value="Filtrar" class="btn btn-info" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Categoría")
        </th>
        <th>
            @Html.DisplayName("Estado")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.categoria)
        </td>
        <td>
            @Html.CheckBoxFor(modelItem => item.estado.Value, new { onclick = "return false" })
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { codCategoria = item.codCategoria }, htmlAttributes: new { @class = "btn btn-xs btn-primary" })
            @if (item.estado == true)
            {
                @Html.ActionLink("Deshabilitar", "CambiarEstado", new { codCategoria = item.codCategoria, estado = false }, htmlAttributes: new { @class = "btn btn-xs" })
            }
            else
            {
                @Html.ActionLink("Habilitar", "CambiarEstado", new { codCategoria = item.codCategoria, estado = true }, htmlAttributes: new { @class = "btn btn-xs" })
            }
        </td>
    </tr>
}

</table>
