@model BD_PR_01_Clinicas.Models.tbUsuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Rol")
        </dt>
            <dd>
                @Html.DisplayFor(model => model.tbRol.Rol)
            </dd>
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("DPI")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dpi)
        </dd>

        @if (Model.codTipoUsuario == 2)
        {
            <dt>
                @Html.DisplayName("Carnet")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.carnet)
            </dd>
        }
        <dt>
            @Html.DisplayName("Fecha de Nacimiento")
        </dt>

        <dd>
            @Model.fechaNacimiento.ToLongDateString()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
