@model BD_PR_01_Clinicas.Models.tbUsuario

@{
    ViewBag.Title = "EditarUsuario";
}

<h2>EditarUsuario</h2>


@using (Html.BeginForm("EditarUsuario", "Usuario", FormMethod.Post, new { @id = "editarUsuario", @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>tbUsuario</h4>
        <hr />
  
        @Html.HiddenFor(model => model.codUsuario)

        <div class="form-group">
            @Html.Label("Rol", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 entrada">
                @Html.DropDownList("codTipoUsuario", null, htmlAttributes: new { @class = "form-control col-md-3", onchange = "mostrarD(this.value)" })

            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 entrada">
                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
             
            </div>
        </div>

        <div class="form-group">
            @Html.Label("DPI", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 entrada">
                @Html.EditorFor(model => model.dpi, new { htmlAttributes = new { @class = "form-control" } })
            
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Carnet", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 entrada" id="carne">
                @Html.EditorFor(model => model.carnet, new { htmlAttributes = new { @class = "form-control" } })
            
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Fecha de nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 entrada">
                @Html.TextBoxFor(model => model.fechaNacimiento, @Model.fechaNacimiento.ToShortDateString(), new { @class = "form-control", @ReadOnly = true })

            </div>
        </div>



        <div class="form-group">
            @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 entrada">
                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control" } })
              
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-2">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span> Guardar cambios
                </button>
            </div>
            <div class="col-md-8">
                <a class="btn btn-primary" href=@Url.Action("Index","Usuario")>
                    <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                </a>
            </div>
        </div>
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>

   
    mostrarD();
    function mostrarD() {

        var valor = $("#codTipoUsuario").val();

        if (valor == 2) {
            $("#carnet").prop('disabled', false)
    
        }
        else {
            $('#carne').children('.help-block').html("");
            $("#carnet").closest('.entrada').removeClass('has-success has-error');
            $("#carnet").html();
            $("#carnet").prop('disabled', true);
   
        }
    }


    $("#fechaNacimiento").datepicker({
        changeMonth: true,
        changeYear: true,
        autoclose: true,
        yearRange: '-80:-17'
    });



    $.validator.addMethod("soloNumeros", function (value, element) {
        return /^[0-9]+$/i.test(value);
    }, "Ingrese sólo numeros");

    $.validator.addMethod("soloLetras", function (value, element) {
        return /^[a-zA-Z ]+$/i.test(value);
    }, "Ingrese sólo Letras");

    $.validator.addMethod("alfanumerico", function (value, element) {
        return /^[a-zA-Z0-9 ]+$/i.test(value);
    }, "Ingrese sólo Letras, numeros solo al final, sin espacios");

    $("#editarUsuario").validate({
        
        errorClass: 'help-block',
        errorElement: 'div',
        errorPlacement: function (error, e) {
            e.parents('.entrada').append(error);
        },
        highlight: function (e) {

            $(e).closest('.entrada').removeClass('has-success has-error').addClass('has-error');
            $(e).closest('.help-block').remove();

        },
        success: function (e) {
            e.closest('.entrada').removeClass('has-success has-error');
            e.closest('.help-block').remove();

        },

        rules: {
            codTipoUsuario: { required: true },
            nombre: { required: true, soloLetras: true, minlength: 3 },
            dpi: { required: true, soloNumeros: true, minlength: 12 },
            carnet: { required: true, soloNumeros: true, minlength: true },
            fechaNacimiento: { required: true },
            password: { required: true, minlength: 4 }
        },
        messages: {
            codTipoUsuario: {
                required: "Debe seleccionar un rol"
            },
            nombre: {
                required: "Debe introducir su nombre",
                minlength: "Tres caracteres como minimo"
            },

            dpi: {
                required: "Debe introducir un numero de identificacion",
                minlength: "12 caracteres minimo"
       
            },
            carnet: {
                required: "Debe introducir un numero de identificacion",
                minlength: "8 caracteres minimo"
        
            },
            fechaNacimiento: "Fecha nacimiento requerida",

          
            password: {
                required: "Debe introducir una contraseña",
                minlength: "4 caracteres como minimo"
            }

        }
    });
</script>
}
