@model BD_PR_01_Clinicas.Models.tbUsuario

@{
    ViewBag.Title = "Habilitar";
}

<h2>Deshabilitar</h2>

<h3>¿Realmente quieres habilitar este usuario?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Tipo Usuario")
        </dt>
        @if (Model.codTipoUsuario == 1)
        {
            <dd>
                Doctor
            </dd>
        }
        else if (Model.codTipoUsuario == 2)
        {
            <dd>
                Estudiante
            </dd>
        }

        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayName("DPI")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dpi)
        </dd>

        @if (Model.codTipoUsuario == 2)
        {
            <dt>
                @Html.DisplayName("Carnet")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.carnet)
            </dd>
        }

        <dt>
            @Html.DisplayName("Fecha de Nacimiento")
        </dt>

        <dd>
            @Model.fechaNacimiento.ToLongDateString()
        </dd>

        <dt>
            @Html.DisplayName("Usuario")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Habilitar" class="btn btn-default" />
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
