@using PagedList.Mvc;
@model  PagedList.IPagedList<BD_PR_01_Clinicas.Models.tbUsuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<p>
    <a href="@Url.Action("CrearUsuario")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> Nuevo Usuario
    </a>
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-info">
        <div class="panel-heading">Buscar por nombre de Categoría</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-inline">
                        @Html.TextBox("usuario", ViewBag.filtroActual as string, new { @class = "form-control", placeholder = "Usuarios sugeridos" })

                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<table class="table table-striped table-hover">
    <thead>
        <tr class="bg-info">
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Usuario")
            </th>
            <th>
                @Html.DisplayName("Contraseña")
            </th>
            <th>
                @Html.DisplayName("Rol")
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>     
                    <td>
                     @Html.DisplayFor(modelItem=>item.tbRol.Rol)
                    </td>  
                <td>
                    <a href="@Url.Action("EditarUsuario", new { codUsuario = item.codUsuario })" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </a>
                    <a href="@Url.Action("Detalles", new { codUsuario = item.codUsuario })" class="btn btn-primary btn-xs">
                        <span class="glyphicon glyphicon-th-list"></span> Detalles
                    </a>
                    @if (item.estado == true)
                    {
                        @Html.ActionLink("Deshabilitar", "CambiarEstadoUsuario",new { codUsuario = item.codUsuario })
                    }
                    else
                    {
                        @Html.ActionLink("Habilitar", "CambiarEstadoUsuario", new { codUsuario = item.codUsuario })
                    }

                </td>
            </tr>
        }

</table>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, filtroActual = ViewBag.filtroActual }))
<div>
    <a href="@Url.Action("Administracion", "Home")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
    </a>
</div>