@model IEnumerable<BD_PR_01_Clinicas.Models.tbUsuario>

@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.carnet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.usuario)
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-xs" onclick="descartarEstu(@item.codUsuario,'@item.nombre')">
                    <span class="glyphicon glyphicon-remove"></span> Descartar
                </button>
            </td>
        </tr>
}
