@model BD_PR_01_Clinicas.Models.tbConfiguracion

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Habilitar registro de usuarios</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Permite que los usuarios se registren</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.codConfiguracion)

        <div class="form-group">
           
            <div class="col-md-2">
                @Html.Label("Habilitar registro", htmlAttributes: new { @class = "control-label" })
            </div>
            
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.valor)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-2">
                <a href="@Url.Action("Administracion", "Home")" class="btn btn-primary">
                    <span class="glyphicon glyphicon-arrow-left"></span> Regresar
                </a>
            </div>
            <div class="col-md-10">
                @*<input type="submit" value="Guardar cambios" class="btn btn-default" />*@
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-save"></span> Guardar cambios
                </button>
            </div>

        </div>
    </div>
}

@*<div>
    <a href="@Url.Action("Administracion", "Home")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
    </a>
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
