@model IEnumerable<BD_PR_01_Clinicas.Models.tbRotacion>

@{
    ViewBag.Title = "Archivados";
}

<h2>Archivados</h2>

@using (Html.BeginForm("Archivados","Rotacion"))
{
    @Html.AntiForgeryToken()
    <div class="panel panel-info">
        <div class="panel-heading">Buscar rotacion</div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Seleccione año", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-inline">                    
                        @Html.DropDownList("anios", null, htmlAttributes: new { @class = "form-control" })                   
                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span> Buscar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<table class="table">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.fechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaFinal)
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.fechaInicio.Value.ToLongDateString()
                </td>
                <td>
                    @item.fechaFinal.Value.ToLongDateString()
                </td>
                <td>
                    @Html.DisplayName("Archivado")
                </td>
                <td>
                    @Html.ActionLink("Restablecer", "Restablecer", new { id = item.codRotacion }) |
                    @Html.ActionLink("Integrantes", "Integrantes", routeValues: new { id = item.codRotacion, origen = "Archivados" })
                </td>
            </tr>
        }
    </tbody>

</table>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
    </a>
</div>