
@{
    ViewBag.Title = "Crear";
}

<h2>Crear rotacion</h2>
    <div class="form-inline">
        <hr />
        @*min="@ViewBag.fechaFinRC"*@ 
    
        <div class="form-group">

            <label class="control-label col-md-4" for="fechaInicio">fechaInicio</label>
            <div class="col-md-2">
                <input type="text" id="fechaInicio" name="fechaInicio" class="form-control" value="@ViewBag.fechaFinUR" readonly />
            </div>
        </div>

        <div class="form-group">

            <label class="control-label col-md-4" for="fechaFinal">fechaFinal</label>

            <div class="col-md-2">
                <input type="text" id="fechaFinal" name="fechaFinal" class="form-control" readonly/>
            
            </div>
        </div>
        <hr />

        <div class="panel panel-info">
            <div class="panel-heading">Doctores</div>
            <div class="panel-body">

                <div class="form-group">
                        <div class="col-md-3">
                            <label class="control-label col-md-4" for="Nombre">Nombre</label>
                        </div>

                        <div class="col-md-6">         
                            @Html.DropDownList("codDoctor", null, "Seleccione un integrante", htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-success" onclick="agregarDocs()">
                                <span class="glyphicon glyphicon-plus"></span> Agregar
                            </button>
                        </div>              
                </div>
                <h2>Listado</h2>
                <table class="table">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("Nombre")
                            </th>
                            <th>
                                @Html.DisplayName("DPI")
                            </th>
                            <th>
                                @Html.DisplayName("Usuario")
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody id="doctores">

                    </tbody>
                </table>

            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">Estudiantes</div>
            <div class="panel-body">

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label col-md-3" for="Nombre">Nombre</label>
                    </div>

                    <div class="col-md-6">


                        @Html.DropDownList("codEstudiante", null, "Seleccione un integrante", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-success" onclick="agregarEstus()">
                            <span class="glyphicon glyphicon-plus"></span> Agregar
                        </button>
                    </div>
                </div>
           
                    <h2>Listado</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Nombre")
                                </th>
                                <th>
                                    @Html.DisplayName("Carnet")
                                </th>
                                <th>
                                    @Html.DisplayName("Usuario")
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody id="estudiantes">

                        </tbody>
                    </table>

              
        </div>
</div>
            <br />
            <div class="form-group">
                <div class="col-md-12">
                    <input type="button" value="Guardar" class="btn btn-primary" name="btn" onclick="guardar()" />
                   
                        @Html.ActionLink("Cancelar", "Index", "Rotacion", null, htmlAttributes: new { @class = "btn btn-danger" })
                   
                </div>
            </div>
 @* <input type="button" value="ver" onclick="ver()" />*@
</div>



@section Scripts {
    <script>

        $("#fechaInicio").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            yearRange: '-1:+10',
            defaultDate: '01/01/2018',
            beforeShowDay:$.datepicker.noWeekends
        }

        );
        $("#fechaFinal").datepicker({
            dateFormat: 'dd/mm/yy',
            changeMonth: true,
            changeYear: true,
            autoclose: true,
            yearRange: '-1:+10',
            defaultDate: '01/01/2018',
            beforeShowDay:$.datepicker.noWeekends
        }

        );

        var listaDocs = [];
        var listaEstus = [];
        var fUR=$.datepicker.parseDate('dd/mm/yy',$("#fechaInicio").val());
      
        
        //function ver() {
        //   var fi=$.datepicker.parseDate('dd/mm/yy',$("#fechaInicio").val());
        //   var ff=$.datepicker.parseDate('dd/mm/yy',$("#fechaFinal").val());

        //   // if (!$("#fechaInicio").val()) {

        //        if (fi > ff) { alert(fi.getDate()); } else { alert(ff.getFullYear());}
        ////   }
        //}


        function agregarDocs() {
            if (!$("#codDoctor").val()) { alert("Seleccione un usurio valido"); return;}
            var codDoc = parseInt($("#codDoctor").val());
            var index = listaDocs.findIndex(function (element) { return element.codUser == codDoc });
            if (index == -1) {
                listaDocs.push({ codUser: codDoc });
                cargarDocs(listaDocs);
            }
            else {

                alert("Ya ha sido agregado");
            }
        }

        function descartarDoc(codUsuario) {
            var index = listaDocs.findIndex(function (element) { return element.codUser == codUsuario });
            listaDocs.splice(index, 1);
           cargarDocs(listaDocs);
        }

        function agregarEstus() {
            if (!$("#codEstudiante").val()) { alert("Seleccione un usurio valido"); return; }
            var codEstu = parseInt($("#codEstudiante").val());
            var index = listaEstus.findIndex(function (element) { return element.codUser == codEstu });
            if (index == -1) {
            listaEstus.push({ codUser: codEstu });
            cargarEstus(listaEstus);
            }
            else {
                alert("Ya ha sido agregado");
            }
        }

        function descartarEstu(codUsuario) {
            var index = listaEstus.findIndex(function (element) { return element.codUser == codUsuario });
            listaEstus.splice(index, 1);
            cargarEstus(listaEstus);
        }

        function cargarDocs(listaDocs) {
            $.ajax({
                traditional: true,
                url: '@Url.Action("AgregarDocs", "Rotacion")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(listaDocs),
                success: function (response) {
                    $('#doctores').html(response);
                },
                error: function (response) {
                    alert("Error al realizar la operacion");
                }
            });
        }

        function cargarEstus(listaEstus) {
            $.ajax({
                traditional: true,
                url: '@Url.Action("AgregarEstus", "Rotacion")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(listaEstus),
                success: function (response) {

                    $('#estudiantes').html(response);
                },
                error: function (response) {
                    alert("Error al realizar la operacion");
                }
            });
        }

        function guardar() {


            if (!($("#fechaInicio").val()) || !($("#fechaFinal").val())) { alert("Debe seleccionar las fechas"); return; }
          
            //else if (($("#fechaInicio").val()>fechaI && $("#fechaInicio").val()<fechaF)||($("#fechaFinal").val()>fechaI && $("#fechaFinal").val()<fechaF)) { alert("Rango invalido, ya existe una rotacion en ese rango de fechas"); return; }
            //else if ($("#fechaInicio").val() < fechaI && $("#fechaFinal").val() > fechaF) { alert("Asignacion de fechas invalido" + fechaF.getDate() + "-" + fechaF.getMonth()); return; }
                var fi = $.datepicker.parseDate('dd/mm/yy',$("#fechaInicio").val());
                 var ff = $.datepicker.parseDate('dd/mm/yy',$("#fechaFinal").val());
                 if (fi > ff) { alert("La fecha de inicio debe ser mayor a la fecha de finalizacion"); return; }
                 else if (fi < fUR) { alert("Fecha de inicio invalido"); return;}
                 var integrantes = listaDocs.concat(listaEstus);
            var rotacion = { "fechaIni": $("#fechaInicio").val(), "fechaFin": $("#fechaFinal").val(), "integrantes": integrantes }
            $.ajax({
                traditional: true,
                url: '@Url.Action("Crear", "Rotacion")',
                contentType: "application/json",
                type: "POST",
                data: JSON.stringify(rotacion),
                success: function (response) {
                    if (response.length == 0) { location.href = '@Url.Action("Index", "Rotacion")'; }
                    else { alert("Error al realizar la operacion: " + response); }

                },
                error: function (response) {
                    alert("No se pudo realizar la accion");
                }
            })
        }
    </script>
}
