@model BD_PR_01_Clinicas.Models.tbRotacion

@{
    ViewBag.Title = "Crear";
}

<h2>Crear</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Rotación</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.fechaInicio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" id="fechaInicio" name="fechaInicio" class="form-control"/>
                @Html.ValidationMessageFor(model => model.fechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.fechaFinal, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="date" id="fechaFinal" name="fechaFinal" class="form-control" />
                @Html.ValidationMessageFor(model => model.fechaFinal, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Crear" class="btn btn-default" />*@
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Crear
                </button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
@section Scripts {
    <script>
        $("form").submit(
                    function validar(event) {
                        var date;

                        if ($("#fechaInicio").val() >= $("#fechaFinal").val()) { alert("error fecha inicio debe ser menor a fecha finalizacion"); event.preventDefault(); }
                        else {
                       

                        }

                    }

            );
    </script>
}