@model IEnumerable<BD_PR_01_Clinicas.Models.tbRotacionUsuario>

@{
    ViewBag.Title = "Integrantes";
}
<h2>Rotación  @ViewBag.fechaInicio  -  @ViewBag.fechaFinal</h2>
<hr />
<h2>Integrantes</h2>

<div class="panel panel-info">
    <div class="panel-heading">Doctores</div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Nombre")
                    </th>
                    <th>
                        @Html.DisplayName("Carnet")
                    </th>
                    <th>
                        @Html.DisplayName("Usuario")
                    </th>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    if (item.tbUsuario.codTipoUsuario == 3)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario.carnet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario.usuario)
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<div class="panel panel-info">
    <div class="panel-heading">Estudiantes</div>
    <div class="panel-body">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Nombre")
                    </th>
                    <th>
                        @Html.DisplayName("Carnet")
                    </th>
                    <th>
                        @Html.DisplayName("Usuario")
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    if (item.tbUsuario.codTipoUsuario == 2)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario.nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario.carnet)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tbUsuario.usuario)
                            </td>

                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    <a class="btn btn-primary" href="@Url.Action("Index")">
        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
    </a>
</div>



