@model BD_PR_01_Clinicas.Models.tbConsulta

@{
    ViewBag.Title = "Crear";
}

<div class="page-header">
    <h1>Historia Clinica <small>@Model.tbPaciente.nombre</small></h1>
</div>

<div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#paciente" role="tab" data-toggle="tab">Paciente</a></li>
        <li role="presentation"><a href="#patologicos" role="tab" data-toggle="tab">Patológicos</a></li>
        <li role="presentation"><a href="#nPatologicos" role="tab" data-toggle="tab">No Patológicos</a></li>
        <li role="presentation"><a href="#revision" role="tab" data-toggle="tab">Revisón</a></li>
        <li role="presentation"><a href="#perfil" role="tab" data-toggle="tab">Perfil</a></li>
        <li role="presentation"><a href="#signos" role="tab" data-toggle="tab">Signos</a></li>
        <li role="presentation"><a href="#problemas" role="tab" data-toggle="tab">Problemas</a></li>
        <li role="presentation"><a href="#planes" role="tab" data-toggle="tab">Planes</a></li>
        <li role="presentation"><a href="#diagnostico" role="tab" data-toggle="tab">Diagnostico</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="paciente">
            <h2>Datos Generales del Paciente</h2>
            <form>
                <!-- Formulario -->
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tbPaciente.nombre, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Genero", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.tbPaciente.genero.Value == true)
                                {
                                    <label class="radio-inline"><input type="radio" name="genero" value="1" checked>Masculino</label>
                                    <label class="radio-inline"><input type="radio" name="genero" value="0">Femenino</label>
                                }
                                else
                                {
                                    <label class="radio-inline"><input type="radio" name="genero" value="1">Masculino</label>
                                    <label class="radio-inline"><input type="radio" name="genero" value="0" checked>Femenino</label>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Fecha Nacimiento", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <input type="date" id="fechaNacimiento" class="form-control" value="@Model.tbPaciente.fechaNacimiento"/>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Estado Civil", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @if (Model.tbPaciente.estadoCivil.Value == true)
                                {
                                    <label class="radio-inline"><input type="radio" name="estadoCivil" value="1" checked>Soltero</label>
                                    <label class="radio-inline"><input type="radio" name="estadoCivil" value="0">Casado</label>
                                }
                                else
                                {
                                    <label class="radio-inline"><input type="radio" name="estadoCivil" value="1">Soltero</label>
                                    <label class="radio-inline"><input type="radio" name="estadoCivil" value="0" checked>Casado</label>
                                }
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Residencia", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tbPaciente.residencia, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Procedencia", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tbPaciente.procedencia, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Religíon", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tbPaciente.religion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Profesión", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tbPaciente.profesion, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Raza/Etnia", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tbPaciente.razaEtnia, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Escolaridad", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.tbPaciente.escolaridad, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Tipo de Sangre", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                               @Html.DropDownList("codTipoSangre", null, "Seleccione un tipo de sangre", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="patologicos">
            <h2>Antecedentes Patológicos</h2>
            <form>
                <!-- Formulario -->
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("Padre", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("padre", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Madre", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("madre", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Médicos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("medicos", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Quirúrgicos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("quirurgicos", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Traumáticos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("traumaticos", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Alérgicos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("alergicos", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Gineco-Obstétricos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("ginecoObstetricos", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Vicios y Manias", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("viciosManias", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="nPatologicos">
            <h2>Antecedentes No Patológicos</h2>
            <form>
                <!-- Formulario -->
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("Prenatal", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("prenatal", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Natal", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("natal", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Posnatal", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("posnatal", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Desarrollo", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#hitos">Llenar Formulario</button>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Inmunizaciónes", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("inmunizaciones", new { @class = "form-control",  rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Alimentación", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("alimentacion", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Hábitos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("habitos", new { @class = "form-control",  rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Gineco-Obstetricos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#mujeres">Llenar Formulario</button>
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="revision">
            <h2>Revisión por Sistemas</h2>
            <form>
                <!-- Formulario -->
                <div class="modal-body">
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.Label("Conducta", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("conducta", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Piel y faneras", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("piel", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Cabeza", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("cabeza", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Ojos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("ojos", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Oídos", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("oidos", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("nariz", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("nariz", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.Label("Vicios y Manias", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextArea("vicios", new { @class = "form-control", rows = "4" })
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="perfil">
            <h2>Perfil Social</h2>
            <form>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Estilo de Vida", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("estiloVida", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Vivienda", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("vivienda", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Situacion Familiar", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("situacionFamiliar", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Ingreso Económico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("ingresoEconomico", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Animales", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("animales", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Tendencia Sexual", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("tendenciaSexual", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Punto de vista", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("puntoVista", new { @class = "form-control", placeholder = "Punto de vista acerca de su estado de salud", rows = "4" })
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="signos">
            <h2>Signos Vitales</h2>
            <form>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Peso", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("peso", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Talla", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("talla", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Indice de Masa Corporal", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("indiceMasaCorporal", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Presión Arterial", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("presionArterial", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Frecuencia Cardiaca", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("frecuenciaCardiaca", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Frecuencia Respiratoria", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("frecuenciaRespiratoria", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Temperatura", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("temperatura", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Circunferencia Cefálica", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("circCefalica", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Circunferencia Abdominal", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("circAbdominal", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Foco Fetal", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("focoFetal", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Altura de Fondo Uterino", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("alturaFondoUterino", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Pulso", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("pulso", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Saturación de Oxigeno", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.Editor("saturacionOxigeno", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="problemas">
            <h2>Listado de Problemas</h2>
            <form>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="margin-left: 20px">
                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#agregarProblema">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Agregar Problema
                        </button>
                    </div>

                    <div id="listaProblemas">

                    </div>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="planes">
            <h2>Plan y Diagnostico Diferencial</h2>
            <form>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Plan Inicial", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("planInicial", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Plan Diagnostico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("planDiagnostico", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Diagnostico Diferencial", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("diagnosticoDiferencial", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Plan Educacional", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("planEducacional", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <hr />

                    <h3>Plan Terapeutico</h3>
                    <div class="form-group">
                        @Html.Label("Actividad", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("actividad", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Dieta", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("dieta", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Receta", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#receta">Crear Receta</button>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Controles Especificos", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("controlesEspecificos", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Otras Terapias", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("otrasTerapias", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div role="tabpanel" class="tab-pane" id="diagnostico">
            <h2>Diagnostico Final</h2>
            <form>
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Impresión Clínica", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("impresion", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Médico", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("codUsuario", null, "Seleccione una Médico", htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="form-group">
    <button type="button" onclick="guardar()" class="btn btn-success btn-lg">
        <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Guardar Historia Clinica
    </button>
</div>

<!-- modal para formulario de meses-->
<div class="modal fade" id="hitos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Desarrollo</h4>
            </div>
            <div class="modal-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">
                                @Html.DisplayName("Edad (Meses)")
                            </th>
                            <th>
                                @Html.DisplayName("Hito")
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                1
                            </td>
                            <td>
                                <p>Intenta agarrar objetos, pero no lo consigue</p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="uno" value ="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="uno" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                2
                            </td>
                            <td>
                                <p>Se sostiene sentado, pero no lo consigue</p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" id="dos" name="dos" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" id="dos" name="dos" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                3 
                            </td>
                            <td>
                                <p>Se sostiene sentado, pero no lo consigue</p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="tres" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="tres" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                4 
                            </td>
                            <td>
                                <p>Se sostiene sentado, pero no lo consigue</p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="cuatro" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="cuatro" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                5 
                            </td>
                            <td>
                                <p>agarra objetos</p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="cinco" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="cinco" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                6 
                            </td>
                            <td>
                                <p>Aguanta sentado en una silla y aguanta objetos con mayor precisión</p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="seis" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="seis" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                7 
                            </td>
                            <td>
                                <p>
                                    Aguanta sentado en una silla y aguanta objetos con mayor precisión,
                                    Se Destapa,
                                    Se pasa los objetos de mano y manipula,
                                    Si alguien lo sienta se mantiene sentado,
                                </p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="siete" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="siete" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                8 
                            </td>
                            <td>
                                <p>
                                    Gatea,
                                    Juega a lanzar objetos,
                                    Extiende los brazos para que lo Levanten
                                </p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="ocho" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="ocho" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                9 
                            </td>
                            <td>
                                <p>
                                    Se pone de pie con apoyo,
                                    Juega a taparse y destaparse,
                                    Imita gestos con las manos
                                </p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="nueve" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="nueve" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                10 
                            </td>
                            <td>
                                <p>
                                    Se pone de pie apoyándose,
                                    Hace una pinza con índice y pulgar,
                                    Mete y saca un objeto de un recipiente
                                </p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="diez" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="diez" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                11 
                            </td>
                            <td>
                                <p>
                                    Realiza los primeros pasos apoyándose,
                                    Señala con el índice y entiende algunas palabras,
                                    Entrega objetos
                                </p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="once" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="once" value="0">No</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center">
                                12 
                            </td>
                            <td>
                                <p>
                                    Se mantiene de pie sin apoyo,
                                    Baila al oír música,
                                    Mira su imagen en un espejo
                                </p>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="doce" value="1">Si</label>
                            </td>
                            <td>
                                <label class="radio-inline"><input type="radio" name="doce" value="0">No</label>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>


<!-- modal para datos de mujeres-->
<div class="modal fade" id="mujeres" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Mujeres</h4>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.Label("Menarquia", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Editor("menarquia", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Ritmo", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <label class="radio-inline"><input type="radio" name="ritmo" value="1">Regular</label>
                            <label class="radio-inline"><input type="radio" name="ritmo" value="0">Irregular</label>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("FUR", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            <input type="date" id="ultimaRegla" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Número Gestas", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Editor("numGestas", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Partos", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Editor("partos", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Cesareas", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Editor("cesareas", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Abortos", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Editor("abortos", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Hijos Vivos", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Editor("hijosVivos", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Hijos Muertos", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.Editor("hijosMuertos", new { htmlAttributes = new { @class = "form-control", onkeypress = "return numerico(event)" } })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Método Planificación", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.TextArea("metodoPlanificacion", new { @class = "form-control", placeholder = "Ingrese una descripcion", rows = "4" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para Crear Receta-->
<div class="modal fade" id="receta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Receta</h4>
            </div>
            <div class="modal-body" id="medicamentos">

                <div class="form-group">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#listaMedicamentos">
                        Agregar
                    </button>
                </div>
                <div id="detalle">

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para lista de medicamentos-->
<div class="modal fade" id="listaMedicamentos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Medicamentos</h4>
            </div>
            <div class="modal-body" id="medicamentos">

                <div class="form-group">
                    <input type="text" id="filtro" placeholder="Nombre del medicamento" onkeyup="filtrar()" class="form-control" autocomplete="off"/>
                </div>
                <div id="listado">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para pedir prescripcion-->
<div class="modal fade" id="prescripcion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.Label("Prescripcion", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("descripcion", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="cambiarDescripcion()">Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- modal para Crear Problemas-->
<div class="modal fade" id="agregarProblema" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Agregar Problema</h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    
                    <div class="form-group">
                        @Html.Label("Problema", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextArea("problema", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Datos Subjetivos", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextArea("subjetivos", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Datos Objetivos", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextArea("objetivos", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Analisis", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextArea("analisis", new { @class = "form-control", rows = "4" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" onclick="agregarProblema()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var codConsulta = @Model.codConsulta;
        var codPaciente = @Model.codPaciente;
        var receta = [];
        var problemas = [];
        var paraReceta = null;

        window.onload = function () {
            $('#fechaNacimiento').val('@Model.tbPaciente.fechaNacimiento');
        }

        function filtrar() {
            var filtro = $('#filtro').val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("Filtrar", "Atencion")',
                data: { filtro },
                success: function (response) {
                    $('#listado').html(response);
                }
            });
        }

        function agregar(codProducto) {
            var index = receta.findIndex(function (element) { return element.codProducto == codProducto });
            if (index == -1) {
                paraReceta = { codConsulta: codConsulta, codProducto: parseInt(codProducto), descripcion: "" };
                $('#prescripcion').modal('show');
            }
            else {
                alert("El Articulo seleccionado ya ha sido agregado");
            }
        }

        function cambiarDescripcion(){
            paraReceta.descripcion = $('#descripcion').val(),
            receta.push(paraReceta);
            paraReceta = null;
            //var index = receta.findIndex(function (element) { return element.codProducto == codProducto });
            //receta[index].descripcion = entrada.value;
            $.ajax({
                traditional: true,
                url: '@Url.Action("DetalleReceta", "Atencion")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(receta),
                success: function (response) {
                    $('#listaMedicamentos').modal('hide');
                    $('#detalle').html(response);
                }
            });
        }

        function quitarReceta(codProducto){
            var index = receta.findIndex(function (element) { return element.codProducto == codProducto });
            receta.splice(index,1);
            $.ajax({
                traditional: true,
                url: '@Url.Action("DetalleReceta", "Atencion")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(receta),
                success: function (response) {
                    $('#detalle').html(response);
                }
            });
        }

        function guardar() {
            var paciente = {
                "codPaciente": codPaciente,
                "nombre": $('#tbPaciente_nombre').val(),
                "genero": ($('#genero').val() == "1") ? true : false,
                "fechaNacimiento": $('#fechaNacimiento').val(),
                "estadoCivil": ($('#estadoCivil').val() == "1") ? true : false,
                "residencia": $('#tbPaciente_residencia').val(),
                "procedencia": $('#tbPaciente_procedencia').val(),
                "religion": $('#tbPaciente_religion').val(),
                "profesion": $('#tbPaciente_profesion').val(),
                "razaEtnia": $('#tbPaciente_razaEtnia').val(),
                "escolaridad": $('#tbPaciente_escolaridad').val(),
                "codTipoSangre": $('#codTipoSangre').val(),
            };
            var patologicos = {
                "codPaciente": codPaciente,
                "padre": $('#padre').val(),
                "madre": $('#madre').val(),
                "medicos": $('#medicos').val(),
                "quirurgicos": $('#quirurgicos').val(),
                "traumaticos": $('#traumaticos').val(),
                "alergicos": $('#alergicos').val(),
                "ginecoObstetricos": $('#ginecoObstetricos').val(),
                "viciosManias": $('#viciosManias').val(),
            };
            var noPatologicos = {
                "codPaciente": codPaciente,
                "prenatal": $('#prenatal').val(),
                "natal": $('#natal').val(),
                "posnatal": $('#posnatal').val(),
                "inmunizaciones": $('#inmunizaciones').val(),
                "alimentacion": $('#alimentacion').val(),
                "habitos": $('#habitos').val(),
            };
            var desarrollo = {
                "codPaciente": codPaciente,
                "uno": ($('input[name=uno]:checked').val() == "1") ? true : false,
                "dos": ($('input[name=dos]:checked').val() == "1") ? true : false,
                "tres": ($('input[name=tres]:checked').val() == "1") ? true : false,
                "cuatro": ($('input[name=cuatro]:checked').val() == "1") ? true : false,
                "cinco": ($('input[name=cinco]:checked').val() == "1") ? true : false,
                "seis": ($('input[name=seis]:checked').val() == "1") ? true : false,
                "siete": ($('input[name=siete]:checked').val() == "1") ? true : false,
                "ocho": ($('input[name=ocho]:checked').val() == "1") ? true : false,
                "nueve": ($('input[name=nueve]:checked').val() == "1") ? true : false,
                "diez": ($('input[name=diez]:checked').val() == "1") ? true : false,
                "oncee": ($('input[name=once]:checked').val() == "1") ? true : false,
                "doce": ($('input[name=doce]:checked').val() == "1") ? true : false,
            };
            var mujeres = {
                "codPaciente": codPaciente,
                "menarquia": $('#menarquia').val(),
                "ritmo": ($('input[name=ritmo]:checked').val() == "1") ? true : false,
                "ultimaRegla": $('#ultimaRegla').val(),
                "numGestas": $('#numGestas').val(),
                "partos": $('#partos').val(),
                "cesareas": $('#cesareas').val(),
                "abortos": $('#abortos').val(),
                "hijosVivos": $('#hijosVivos').val(),
                "hijosMuertos": $('#hijosMuertos').val(),
                "metodoPlanificacion": $('#metodoPlanificacion').val(),
            };
            var perfilSocial = {
                "codPaciente": codPaciente,
                "estiloVida": $('#estiloVida').val(),
                "vivienda": $('#vivienda').val(),
                "situacionFamiliar": $('#situacionFamiliar').val(),
                "ingresoEconomico": $('#ingresoEconomico').val(),
                "animales": $('#animales').val(),
                "tendenciaSexual": $('#tendenciaSexual').val(),
                "puntoVista": $('#puntoVista').val()
            };
            var revision = {
                "codConsulta": codConsulta,
                "conducta": $('#conducta').val(),
                "piel": $('#piel').val(),
                "cabeza": $('#cabeza').val(),
                "ojos": $('#ojos').val(),
                "oidos": $('#oidos').val(),
                "nariz": $('#nariz').val(),
                "vicios": $('#vicios').val()
            }
            var signos = {
                "codConsulta": codConsulta,
                "peso": $('#peso').val(),
                "talla": $('#talla').val(),
                "indiceMasaCorporal": $('#indiceMasaCorporal').val(),
                "presionArterial": $('#presionArterial').val(),
                "frecuenciaCardiaca": $('#frecuenciaCardiaca').val(),
                "frecuenciaRespiratoria": $('#frecuenciaRespiratoria').val(),
                "temperatura": $('#temperatura').val(),
                "circCefalica": $('#circCefalica').val(),
                "circAbdominal": $('#circAbdominal').val(),
                "focoFetal": $('#focoFetal').val(),
                "alturaFondoUterino": $('#alturaFondoUterino').val(),
                "pulso": $('#pulso').val(),
                "saturacionOxigeno": $('#saturacionOxigeno').val(),
            };
            var planes = {
                "codConsulta": codConsulta,
                "planInicial": $('#planInicial').val(),
                "planDiagnostico": $('#planDiagnostico').val(),
                "diagnosticoDiferencial": $('#diagnosticoDiferencial').val(),
                "planEducacional": $('#planEducacional').val(),
            };
            var terapeutico = {
                "codConsulta": codConsulta,
                "actividad": $('#actividad').val(),
                "dieta": $('#dieta').val(),
                "controlesEspecificos": $('#controlesEspecificos').val(),
                "otrasTerapias": $('#otrasTerapias').val(),
            };
            var diagnostico = {
                "codConsulta": codConsulta,
                "impresionClinica": $('#impresion').val(),
                "codUsuario": $('#codUsuario').val()
            };
            var historia = {
                "codConsulta": codConsulta,
                "paciente": paciente,
                "patologicos": patologicos,
                "noPatologicos": noPatologicos,
                "desarrollo": desarrollo,
                "perfilSocial": perfilSocial,
                "mujeres": mujeres,
                "revision": revision,
                "signos": signos,
                "problemas": problemas,
                "planes": planes,
                "terapeutico": terapeutico,
                "receta": receta,
                "diagnostico": diagnostico
            }
            $.ajax({
                url: '@Url.Action("GuardarHC", "Atencion")',
                type: "POST",
                dataType: "json",
                data: { "historia": historia },
                success: function (response) {

                }
            });
        }

        function agregarProblema() {
            problemas.push({
                codConsulta: codConsulta,
                problema: $('#problema').val(),
                subjetivos: $('#subjetivos').val(),
                objetivos: $('#objetivos').val(),
                analisis: $('#analisis').val()
            });
            $.ajax({
                traditional: true,
                url: '@Url.Action("Problemas", "Atencion")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(problemas),
                success: function (response) {
                    $('#listaMedicamentos').modal('hide');
                    $('#listaProblemas').html(response);
                }
            });
        }

        function quitar(problema) {
            var index = problemas.findIndex(function (element) { return element.problema == problema });
            problemas.splice(index, 1);
            $.ajax({
                traditional: true,
                url: '@Url.Action("Problemas", "Atencion")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(problemas),
                success: function (response) {
                    $('#listaProblemas').html(response);
                }
            });
        }

        function numerico(event){
            var n = event.charCode;
            var respuesta = ((n >= 48 && n <= 57) || n == 0);
            return respuesta;
        }

        function decimal(event){
            var n = event.charCode;
            var respuesta = ((n >= 48 && n <= 57) || n == 46 || n == 0);
            return respuesta;
        }

    </script>
}