@model IEnumerable<BD_PR_01_Clinicas.Models.tbPaciente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Consulta", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th> 
            @Html.DisplayName("Fecha Nacimiento")
        </th>                
        <th>                 
            @Html.DisplayName("Estado Civil")
        </th> 
        <th> 
            @Html.DisplayName("Residencia")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @item.fechaNacimiento.Value.ToShortDateString()
        </td>
            @if (item.estadoCivil.Value)
            {
                <td>
                    Soltero
                </td>
            }
            else
            {
                <td>
                    Casado
                </td>
            }
        <td>
            @Html.DisplayFor(modelItem => item.residencia)
        </td>
        <td>
            @Html.ActionLink("Atender", "Atender", new { id = item.codPaciente }) |
            @Html.ActionLink("Editar", "Editar", new { id=item.codPaciente }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.codPaciente }) |
            @Html.ActionLink("Cancelar", "Cancelar", new { id=item.codPaciente })
        </td>
    </tr>
}

</table>
