@model BD_PR_01_Clinicas.Models.tbProducto

@{
    ViewBag.Title = "CambiarEstado";
}

@functions {
    public string dosis(string dosis, int vol, string dosis2, int vol2)
    {
        string respuesta = "";
        respuesta += dosis;
        if (vol == 1)
            respuesta += "mg";
        else if (vol == 2)
            respuesta += "ml";
        if (dosis2 != "0")
        {
            respuesta += "/" + dosis2;
            if (vol2 == 1)
                respuesta += "mg";
            else if (vol2 == 2)
                respuesta += "ml";
        }
        return respuesta;
    }
}

@if (Model.estado == true)
{
    <h2>Deshabilitar</h2>

    <h3>¿Realmente quieres deshabilitar este producto?</h3>
}
else
{
    <h2>Habilitar</h2>

    <h3>¿Realmente quieres habilitar este producto?</h3>
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Producto")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto)
        </dd>

        <dt>
            @Html.DisplayName("Categoría")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbCategoria.categoria)
        </dd>

        <dt>
            @Html.DisplayName("Presentación")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPresentacion.presentacion)
        </dd>

        <dt>
            @Html.DisplayName("Dosis")
        </dt>

        <dd>
            @dosis(Model.dosis.ToString(), Model.codVolumen.Value, Model.dosis2.ToString(), Model.codVolumen2.Value)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @if (Model.estado == true)
            {
                @*<input type="submit" value="Deshabilitar" class="btn btn-danger" />*@
                <button type="submit" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash"></span> Archivar
                </button>
            }
            else
            {
                @*<input type="submit" value="Habilitar" class="btn btn-danger" />*@
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-record"></span> Habilitar
                </button>
            }
            @*@Html.ActionLink("Regresar", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })*@
            <a class="btn btn-primary" href="@Url.Action("Index")"><span class="glyphicon glyphicon-arrow-left"></span> Regresar</a>

        </div>
    }
</div>
