@using PagedList.Mvc;
@model PagedList.IPagedList<BD_PR_01_Clinicas.Models.tbProducto>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Productos";
}

@functions {
    public string dosis(string dosis, int vol, string dosis2, int vol2)
    {
        string respuesta = "";
        respuesta += dosis;
        if (vol == 1)
            respuesta += "mg";
        else if (vol == 2)
            respuesta += "ml";
        if (dosis2 != "0")
        {
            respuesta += "/" + dosis2;
            if (vol2 == 1)
                respuesta += "mg";
            else if (vol2 == 2)
                respuesta += "ml";
        }
        return respuesta;
    }
}

<h2>Productos</h2>

    <p>
        <a href="@Url.Action("Crear")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Nuevo Producto
        </a>
    </p>


<p>
    @Html.ActionLink("Generar reporte", "ReporteDeCatalogo")
</p>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-info">
        <div class="panel-heading">Buscar producto</div>
        <div class="panel-body">
            <div class="form-horizontal">

                <div class="form-group">
                    @Html.Label("Filtrar por:", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-inline">
                        <label class="radio-inline">
                            <input type="radio" name="accion" value=1 checked>Producto 
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="accion" value=2>Categoría
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="accion" value=3>Presentación
                        </label>
                    </div>

                </div>
                <div class="form-group">
                    @Html.Label("Buscar", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-inline">
                        @Html.TextBox("filtro",  ViewBag.filtroActual as string, new { @class = "form-control" })
                        @*<input type="submit" value="Filtrar" class="btn btn-info" />*@
                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<table class="table table-hover">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayName("Producto")
            </th>
            <th>
                @Html.DisplayName("Categoría")
            </th>
            <th>
                @Html.DisplayName("Presentación")
            </th>
            <th>
                @Html.DisplayName("Dosis")
            </th>
            <th>
                @Html.DisplayName("Estado")
            </th>
            <th></th>
        </tr>
    </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.producto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbCategoria.categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbPresentacion.presentacion)
                </td>
                <td>
                    @dosis(item.dosis.ToString(), item.codVolumen.Value, item.dosis2.ToString(), item.codVolumen2.Value)
                </td>
                <td>
                    @Html.CheckBoxFor(modelItem => item.estado.Value, new { onclick = "return false" })
                </td>
                <td>
                    <a class="btn btn-xs btn-primary" href="@Url.Action("Editar", new { codProducto = item.codProducto })">
                        <span class="glyphicon glyphicon-edit"></span> Editar
                    </a>

                    @if (item.estado == true)
                    {
                        @Html.ActionLink("Deshabilitar", "CambiarEstado", new { codProducto = item.codProducto, estado = false }, htmlAttributes: new { @class = "btn btn-xs" })
                    }
                    else
                    {
                        @Html.ActionLink("Habilitar", "CambiarEstado", new { codProducto = item.codProducto, estado = true }, htmlAttributes: new { @class = "btn btn-xs" })
                    }
                </td>
            </tr>
        }

</table>
@*esto solo muestra el mensaje de numero de pagina actual, ejemplo: Pagina 1 de 5*@
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, filtroActual = ViewBag.filtroActual, accionActual = ViewBag.accionActual }))
<div>
    <a href="@Url.Action("Administracion", "Home")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
    </a>
</div>

@section Scripts {
    <script>
        window.onload = function () {
            $("input[name='accion'][value='@ViewBag.accionActual']").prop('checked', true);
        }
    </script>
}