@using PagedList.Mvc;
@model PagedList.IPagedList<BD_PR_01_Clinicas.Models.tbPaciente>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de Pacientes</h2>

<div class="panel panel-info">
    <div class="panel-heading">Buscar Paciente</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10 form-inline">
                        @Html.TextBox("filtro", ViewBag.filtroActual as string, new { @class = "form-control" })
                        <button type="submit" class="btn btn-info">
                            <span class="glyphicon glyphicon-search"></span> Filtrar
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayName("Nombre")
            </th>
            <th>
                @Html.DisplayName("Fecha Nacimiento")
            </th>
            <th>
                @Html.DisplayName("Estado Civil")
            </th>
            <th>
                @Html.DisplayName("Residencia")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @try
                    {
                        @item.fechaNacimiento.Value.ToShortDateString()
                    }
                    catch
                    {
                        <p>Desconocida</p>
                    }
                </td>
                @if (item.estadoCivil.Value)
                {
                    <td>
                        Soltero
                    </td>
                }
                else
                {
                    <td>
                        Casado
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.residencia)
                </td>
                <td>
                    <a href="@Url.Action("HistoriaClinica", new { codPaciente = item.codPaciente })" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-th-list"></span> Historia Clinica
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, filtroActual = ViewBag.filtroActual }))
<div>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
    </a>
</div>