@model IEnumerable<BD_PR_01_Clinicas.Models.RegistroProducto>

@* aqui hay un if que indica que si el modelo esta vacio no se crea nada de codigo html y se devuelve una vista parcial vacia
    de lo contrario se crea el boton Guardar que hace referencia a la funcion guardar(), esta funcion es la que envia todos los datos
    al post de crear y lo inserta a la base de datos para finalizar y guardar la entrada *@

@if (Model.Count() > 0)
{
    <hr />
    @*<input type="button" class="btn btn-primary" onclick="guardar()" value="Guardar" id="save"/>*@
    <button type="button" class="btn btn-primary" onclick="guardar()" id="save">
        <span class="glyphicon glyphicon-floppy-disk"></span> Guardar
    </button>
    <hr />

    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>
                    Producto
                </th>
                <th>
                    Categoría
                </th>
                <th>
                    Presentación
                </th>
                <th>
                    Dosis
                </th>
                <th>
                    Cantidad
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="row">
                        @item.nombre
                    </td>
                    <td>
                        @item.categoria
                    </td>
                    <td>
                        @item.presentacion
                    </td>
                    <td>
                        @item.dosis
                    </td>
                    <td>
                        <input type="number" class="form-control input-sm cant" value="@item.cantidad" onchange="cantidad(@item.codProducto,this)" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" onclick="quitar(@item.codProducto, event)">
                            <span class="glyphicon glyphicon-remove"></span> Quitar
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
