@model IEnumerable<BD_PR_01_Clinicas.Models.RegistroProducto>

<table class="table table-hover">
    <thead>
        <tr class="info">
            <th>
                Producto
            </th>
            <th>
                Categoría
            </th>
            <th>
                Presentación
            </th>
            <th>
                Dosis
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.nombre
                </td>
                <td>
                    @item.categoria
                </td>
                <td>
                    @item.presentacion
                </td>
                <td>
                    @item.dosis
                </td>
                <td>
                    <button type="button" class="btn btn-xs btn-success" onclick="agregar(@item.codProducto)">
                        <span class="glyphicon glyphicon-check"></span> Agregar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
