@model IEnumerable<BD_PR_01_Clinicas.Models.tbProducto>

@{
    ViewBag.Title = "AgregarProducto";
}

<h2>Agregar Producto</h2>

<p>
    @Html.ActionLink("Agregar un nuevo producto", "NuevoProducto", new { codEntrada = (int)ViewBag.codEntrada })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Producto")
        </th>
        <th>
            @Html.DisplayName("Categoría")
        </th>
        <th>
            @Html.DisplayName("Presentación")
        </th>
        <th>
            @Html.DisplayName("Volumen")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbCategoria.categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbPresentacion.presentacion)
        </td>
        @if (item.codVolumen == 1)
        {
            <td>
                mg
            </td>
        }
        else if (item.codVolumen == 2)
        {
            <td>
                ml
            </td>
        }

        <td>
            @Html.ActionLink("Agregar", "cantidad", new { codEntrada = (int)ViewBag.codEntrada, codProducto = item.codProducto })
        </td>
    </tr>
}

</table>
