@model BD_PR_01_Clinicas.Models.Entrada

@{
    ViewBag.Title = "Crear";
}

<h2>Nueva Entrada</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @*@Html.HiddenFor(x => x.codProducto)*@


    <div class="row">
        <div class="col-xs-5">
            <div class="form-group">
                @Html.Label("Descripcion")
                @Html.TextArea("descripcion", null, new { @class = "form-control", placeholder = "Ingrese una descripcion", rows = "4" })
                @Html.ValidationMessage("descripcion", null, new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">Buscar Productos</div>
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            @Html.Label("Producto", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10 form-inline">
                                @Html.TextBox("producto", "", new { @class = "form-control" })
                                <input type="button" value="Buscar" class="btn btn-info" data-toggle="modal" data-target="#busqueda" onclick="getDataAjax()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12" id="detalle">
            
           
        </div>

    </div>

}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

<!-- Modal -->
<div class="modal fade" id="busqueda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Lista de Productos</h4>
            </div>
            <div class="modal-body" id="cuerpoModal">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var detalle = [];
        function getDataAjax() {
            var filtro = $("#producto").val();
            $.ajax({
                url: '@Url.Action("Productos", "Entrada")',
                data: { filtro },
                success: function (response) {
                    $('#cuerpoModal').html(response);
                }
            });
        }

        function agregar(codProducto) {
            detalle.push({codProducto:codProducto, cantidad:1 })
            $.ajax({
                traditional: true,
                url: '@Url.Action("MostrarDetalle", "Entrada")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(
                    detalle
                   ),
                success: function (response) {
                    $('#detalle').html(response);
                }
            });
        }

    </script>
    <script>
        $(document).ready(function () {

            

            $(".btn-retirar").click(function () {
                if (confirm('¿Está seguro de retirar el producto seleccionado?')) {
                    $(this).closest('.list-group-item').find('.retirar').val("True");
                    return true;
                }
                return false;
            })
        })
    </script>
}