@model IEnumerable<BD_PR_01_Clinicas.Models.tbDetalleEntrada>

@{
    ViewBag.Title = "ListaProductos";
}

<h2>Lista de Productos</h2>

<p>
    @Html.ActionLink("Agregar un Producto", "AgregarProducto", new { codEntrada = (int)ViewBag.codEntrada })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Producto")
        </th>
        <th>
            @Html.DisplayName("Presentación")
        </th>
        <th>
            @Html.DisplayName("Cantidad")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tbProducto.producto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbProducto.tbPresentacion.presentacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.ActionLink("Editar Cantidad", "EditarCantidad", new { codEntrada = item.codEntrada, codProducto = item.codProducto }) |
            @Html.ActionLink("Quitar Producto", "QuitarProducto", new { codEntrada = item.codEntrada, codProducto = item.codProducto })
        </td>
    </tr>
}

</table>

<div class="col-md-8">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("codEntrada", (int)ViewBag.codEntrada)
        @Html.Hidden("accion", true)
        <div class="form-actions no-color">
            <input type="submit" value="Aceptar" class="btn btn-default" />
        </div>
    }
</div>
<div class="col-md-4">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("codEntrada", (int)ViewBag.codEntrada)
        @Html.Hidden("accion", false)
        <div class="form-actions no-color">
            <input type="submit" value="Cancelar" class="btn btn-default" />
        </div>
    }
</div>
