@model IEnumerable<BD_PR_01_Clinicas.Models.tbSalida>

@{
    ViewBag.Title = "Index";
}

<h2>Salidas</h2>

<p>
    @Html.ActionLink("Nueva Salida", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Descripción")
        </th>
        <th>
            @Html.DisplayName("Fecha de Salida")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @item.fechaSalida.Value.ToLongDateString();
        </td>
        <td>
            @Html.ActionLink("Detalles", "Detalles", new { codSalida = item.codSalida })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Regresar", "Administracion","Home", null, htmlAttributes: new { @class = "btn btn-default" })
</div>