@model IEnumerable<BD_PR_01_Clinicas.Models.ConsultasFechas>

@{
    ViewBag.Title = "ConsultasFechas";
}

<h2>Consultas por Fechas</h2>

<div class="panel panel-info">
    <div class="panel-heading">Buscar</div>
    <div class="panel-body">
        @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
            <div class="form-inline">
                <div class="form-group col-md-offset-2 col-md-3">
                    <label class="control-label">Inicio</label>
                    <input type="date" id="inicio" name="inicio" class="form-control" value="@ViewBag.inicio" />
                </div>
                <div class="form-group">
                    <label class="control-label">Fin</label>
                    <input type="date" id="fin" name="fin" class="form-control" value="@ViewBag.fin" />
                </div>
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> Filtrar
                </button>
            </div>
        }
    </div>
</div>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr class="info">
                <th>Medico</th>
                <th>Estudiante</th>
                <th>Paciente</th>
                <th>Fecha</th>
                <th>Hora</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.medico</td>
                    <td>@item.estudiante</td>
                    <td>@item.paciente</td>
                    <td>@item.fecha.ToLongDateString()</td>
                    <td>@item.fecha.ToShortTimeString()</td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="form-group">
    <a href="@Url.Action("Administracion", "Home")" class="btn btn-primary">
        <span class="glyphicon glyphicon-arrow-left"></span> Regresar
    </a>
</div>


