
@{
    ViewBag.Title = "Administración";
}

<div class="jumbotron">
    <h1>Administración</h1>
</div>


<div>

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#inventario" aria-controls="first" role="tab" data-toggle="tab">Inventario</a></li>
        <li role="presentation"><a href="#medicamentos" aria-controls="second" role="tab" data-toggle="tab">Medicamentos</a></li>
        @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_rotaciones) ||
             BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_usuarios) ||
             BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_registro))
        {
            <li role="presentation"><a href="#rotaciones" aria-controls="third" role="tab" data-toggle="tab">Rotaciones</a></li>
        }
        @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_roles))
        {
            <li role="presentation"><a href="#roles" aria-controls="fifth" role="tab" data-toggle="tab">Roles</a></li>
        }
        <li role="presentation"><a href="#reportes" aria-controls="fourth" role="tab" data-toggle="tab">Reportes</a></li>
    </ul>

    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="inventario">
            <!-- poner aqui la primera pagina de administración-->
            <div class="row">
                <div class="col-md-4">
                    @*valida si tiene permisos para ver esta opcion*@
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.consultar_existencia))
                    {

                        <h2><p>@Html.ActionLink("Existencias", "Index", "Inventario")</p></h2>
                        <p>Ver las existencias de cada medicamento.</p>
                    }
                </div>

                <div class="col-md-4">

                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_entradas))
                    {
                        <h2><p>@Html.ActionLink("Entradas", "Index", "Entrada")</p></h2>
                        <p>Administracion de las entradas a bodega.</p>
                    }
                </div>

                <div class="col-md-4">

                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_salidas))
                    {
                        <h2><p>@Html.ActionLink("Salidas", "Index", "Salida")</p></h2>
                        <p>Administracion de las Salidas de bodega.</p>
                    }
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="medicamentos">
            <!-- poner aqui la primera pagina de administración-->
            <div class="row">
                <div class="col-md-4">
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_catalogo_prod))
                    {
                        <h2><p>@Html.ActionLink("Catalogo", "Index", "Producto")</p></h2>
                        <p>Administracion de todos los medicamentos.</p>
                    }
                </div>

                <div class="col-md-4">
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_categorias))
                    {
                        <h2><p>@Html.ActionLink("Categorias", "Index", "Categoria")</p></h2>
                        <p>Administracion de las categorias aplicables a cada producto, tales como los analgesicos, antidiureicos, etc.</p>
                    }
                </div>

                <div class="col-md-4">
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_presentaciones))
                    {
                        <h2><p>@Html.ActionLink("Presentaciones", "Index", "Presentacion")</p></h2>
                        <p>Administracion de las diferentes presentaciones aplicables a un producto.</p>
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_tipo_sangre))
                    {
                        <h2><p>@Html.ActionLink("Tipos de Sangre", "Index", "TipoSangre")</p></h2>
                        <p>Administracion de tipos de sangre.</p>
                    }
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="rotaciones">     
            <div class="row">
                <div class="col-md-4">
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_rotaciones))
                    {
                        <h2><p>@Html.ActionLink("Rotaciones", "Index", "Rotacion")</p></h2>
                        <p>Administracion de las rotaciones y asignacion de estudiantes.</p>
                    }
                </div>

                <div class="col-md-4">
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_usuarios))
                    {
                        <h2><p>@Html.ActionLink("Usuarios", "Index", "Usuario")</p></h2>
                        <p>Administracion de los medicamentos existentes en inventario.</p>
                    }
                </div>

                <div class="col-md-4">
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_registro))
                    {
                        <h2><p>@Html.ActionLink("Registro", "ActivarDesacivarRegistro", "Rotacion")</p></h2>
                        <p>Habilita el registro de los usuarios</p>
                    }
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="reportes">
            @*if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.generar_reporte_existencia))
            {

            }*@
            <div class="col-md-4">
                <h2><p>@Html.ActionLink("Consultas por Fecha", "ConsultasFechas", "Reportes")</p></h2>
                <p>Muestra las consultas realizadas entre dos fechas estipuladas.</p>
            </div>

            <div class="col-md-4">
                <h2><p>@Html.ActionLink("Productos Mas Recetados", "ProductosMasRecetados", "Reportes")</p></h2>
                <p>Muestra cuantas veces ha sido recetado un producto.</p>
            </div>

            <div class="col-md-4">
                <h2><p>@Html.ActionLink("Consultas por Estudiante", "ConsultasEstudiante", "Reportes")</p></h2>
                <p>Muestra todas las consultas realizadas por un estudiante.</p>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="roles">
            <div class="row">
                <div class="col-md-12">
                    @if (BD_PR_01_Clinicas.Models.FrontUser.TienePermiso(BD_PR_01_Clinicas.Models.RolesPermisos.administrar_roles))
                    {
                        <h2><p>@Html.ActionLink("Roles", "Index", "Roles")</p></h2>
                        <p>Administracion de las roles </p>
                    }

                </div>
            </div>
        </div>

    </div>

</div>